@model PetGrooming.Models.Pet
@{
    ViewBag.Title = "Update";
}

<h2>Update</h2>
<form method="POST" action="/Pet/Update/@Model.PetID">
    petname:<input id="PetName" name="PetName" value="@Model.PetName" /><br />
    petcolor:<input id="PetColor" name="PetColor" value="@Model.Color" /><br />
    weight:<input id="PetWeight" name="PetWeight" value="@Model.Weight" /><br />
    notes:<textarea id="PetNotes" name="PetNotes">@Model.Notes</textarea><br />
    <input type="submit" id="submit" value="update pet" />
</form>
